:root {
  --text: #334d6e;
  --accent: #2196f3;
  --bg: #edf1f7;
  --bg2: #ffffff;
  --bg3: #f8f9fa;
  --bc: #dee2e6;
}

body {
  background-color: var(--bg);
  font-family: 'Nunito Sans', sans-serif;
}

.nav-link {
  font-size: 12px !important;
  padding: 0.5rem 1rem !important;
  color: var(--text) !important;
  cursor: pointer;
}

.nav-link:hover {
  font-weight: bold;
}

li.nav-item.active {
  border-bottom: 3px solid var(--accent);
  font-weight: bold;
}

.border-bottom {
  border-bottom: 0.9px solid var(--bc) !important;
}

.wrapper {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 98;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.5;
}
.loadbox {
  z-index: 99;
  background-color: white;
  min-width: 20%;
  max-width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 40%;
  padding: 5px;
}
.flare {
  display: contents;
}

.nav-card {
  position: fixed;
  left: 0;
  top: 41.5%;
  z-index: 10;
  background-color: #303f9f;
  color: #fff;
  padding: 0.5%;
}
.nav-btn {
  margin-bottom: 5px;
  margin-top: 5px;
}
.ovr-task-card {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  /* border-left:3px solid; */
  background: white;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 2px 0 rgba(63, 63, 68, 0.15);
}
.tskd-task-card {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 2px 0 rgba(63, 63, 68, 0.15);
}
.tskd-task-card-comment {
  border-left: 3px solid lightgreen;
}
.tskd-task-card-alert {
  border-left: 3px solid red;
}
.tskd-task-card-update {
  border-left: 3px solid grey;
}
.gen-hr {
  margin-top: 1%;
  margin-bottom: 1%;
}
.path-view {
  padding: 0.5rem 2rem;
  background: var(--bg2);
}

.path-breadcrum {
  margin-top: 5px;
  margin-bottom: 0px;
}

.view-panel {
  display: flex;
}
.task-card-footer {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  border-top: 1px dashed #e3e3e3;
}
.task-card-header-title {
  padding-left: 10px;
}
.task-card-body {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  /* border-top: 1px dashed #e3e3e3; */
}
.task-panel-subheader {
  padding-left: 10px;
  color: #adadad;
}
.task-panel-btn {
  margin-right: 2px;
}

.tsb-summary-card {
  background-color: white;
  border-radius: 0;
}
.tsb-summ-card-img {
  margin-top: 66%;
}
.ovr-summary-panel {
  background-color: white;
  margin-bottom: 0.5%;
  border-radius: 0;
  border-bottom: 0.5px solid lightgray;
  padding: 20px;
}
.ovr-summary-panel-end {
  border-bottom: none;
  padding-bottom: 0;
}
.gen-screen-nav-space {
  padding-left: 3% !important;
}
.gen-text-normal-secondry {
  padding: 0;
  margin-bottom: 0;
  font-size: 12px;
  color: #808080;
}
.gen-section {
  padding-left: 0;
  padding-right: 0;
}
.gen-card {
  padding: 20px;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.03);
  margin: 1%;
}
.gen-card-row {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.gen-text-normal-bold {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}
.gen-img-circle-border {
  border: 0.5px solid lightgray;
  border-radius: 66px;
}
.gen-card-header {
  background: #fff !important;
  border-bottom: none !important;
  padding-left: 0;
}
.ovr-task-panel {
  height: -webkit-fill-available;
  overflow-y: auto;
  margin-left: 15px;
}
.ovr-custom-list {
  list-style-type: none;
  padding-left: 0;
}
.ovr-summ-active-card {
  width: 48.667%;
  margin-right: 5px;
}
.ovr-summ-card-progress-bar {
  margin-left: 7px;
  margin-top: 10px;
}
ovr-task-card {
  margin: 1%;
}
.ovr-summ-tile-cout-sec {
  margin-bottom: 5px;
}
.tsb-summary-card-value {
  padding: 0;
  margin-bottom: 0;
}
.tsb-table-btn {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  color: grey;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-app-region: no-drag;
}
.tsb-table-btn:hover {
  color: #7918e2 !important;
}
.login-flare {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #4279be, #374c98, #1e226a);
}
.login-card {
  width: 35%;
  position: relative;
  top: 28%;
  left: 35%;
}
.admin-panel {
  position: absolute;
  bottom: 0;
  top: 4.5%;
  left: 0;
  right: 0;
}
.admin-nav-bar {
  margin-left: 4%;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
}
.admin-nav-item {
  border-top: 0.5px solid lightgray;
  border-bottom: 0.5px solid lightgray;
}
.admin-usrAsin-button {
  margin-top: 2%;
}
.gen-list-element {
  padding: 12px 30px;
}
.gen-list-element:hover {
  background-color: #e7ebf2;
}
.toolbar {
  float: left;
}
.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  border: 0px;
}

.btn-circle span {
  position: relative;
  top: 5px;
  left: -0.1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}
.gen-card-strip {
  padding-top: 2%;
  padding-bottom: 2%;
  border: 0;
  border-radius: 0;
}
.gen-card-strip-left-end {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.gen-card-strip-right-end {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.gen-card-strip-card-text {
  margin-bottom: 5%;
}
.gen-nav-tabs {
  background: #fff;
  margin-top: 1%;
  border-radius: 0.5rem;
}
.tskv-summ-bar {
  padding-left: 2.5%;
  padding-right: 1.2%;
}

.material-icons.md-18 {
  font-size: 18px;
  padding: 0;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.gen-p-margin-bottom {
  margin-bottom: 0;
}

.tskd-activity-list {
  list-style-type: none;
}

.tskd-ico-position-fix {
  position: relative;
  top: 8px;
}
.tskd-body {
  overflow-y: scroll;
}
