body
{
  background-color: #f7f7f7;
  overflow: hidden;
  font-family: 'Nunito Sans', sans-serif;
}


.main-nav
{
  background-color: #C2185B;
  color: #fff;
}


.wrapper {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 98;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.5;
}
.loadbox {
  z-index: 99;
  /* margin-left: 40%; */
  /* margin-top: 40%; */
  background-color: white;
  min-width: 20%;
  max-width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 40%;
  padding: 5px;
}
.flare {
  display: contents;
}


.task-card-panel
{
  padding-left:5px;
  padding-right:5px;
  margin-top:10px;
  margin-bottom: 10px;
  border-radius:3px;
  /* border-left:3px solid; */
  background:white;
  box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 2px 0 rgba(63,63,68,0.15);
}

.path-view
{
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 0.5px solid #ececec;
  margin-top: 5px;
}

.path-breadcrum
{
  margin-top: 5px;
  margin-bottom: 0px;
}

.view-panel
{
  display:flex; 
}
.task-card-footer
{
  padding-left:10px; 
  padding-right:10px;
  margin-top: 20px;
  border-top: 1px dashed #e3e3e3;
}
.task-card-header-title
{
  padding-left:10px;
}
.task-card-body
{
  padding-left:10px; 
  padding-right:10px;
  padding-top: 10px;
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  /* border-top: 1px dashed #e3e3e3; */
}
.task-panel-subheader
{
  padding-left: 10px;
  color:#adadad;
}
.task-panel-btn
{
  margin-right: 2px;
}

.overview-panel
{
  padding-right : 15px;  
  height: 100%; 
}

.summary-panel
{
  background-color: white;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 2px 0 rgba(63,63,68,0.15);
}
.summ-tile-text
{
  /* border-left:3px solid #E92E63; */
  color:#E91E63;
  font-weight: 800;
}
.ovr-task-panel
{
  height: -webkit-fill-available;
  overflow-y: auto;
  margin-left: 15px;
}
.ovr-task-list
{
  list-style-type:none;
  margin-left :0px
}
.ovr-summ-panel
{
  height: 255px;
  /* overflow-y: auto; */
  padding-left:15px;
  /* padding-right: 30px; */
}
.ovr-summ-active-card
{
  width: 48.667%;
  margin-right: 5px;
}
.ovr-summ-card-progress-bar
{
  margin-left:7px; 
  margin-top: 10px;
}
.ovr-summ-count-sec
{
  padding-bottom: 0;
  padding-left: 12px;
}
.ovr-summ-tile-cout-sec
{
  margin-bottom: 5px;
}