<!-- About View -->
<div class="row" id="AboutPanel" style="margin-top: 20px; left: 20px;padding-right:40px; ">
    <h1>Task Schedular</h1><span class="tally success">v 1.0</span>
    <div class="cell-12">
        <span class=" text-leader2">Helping individuals to manage task and work records.</span>
        <p>This software is Developed and maintained by <b>Laniak</b></p>
        <p>Information : </p>
        <div data-role="panel">
            <dl>
                <dt>Version</dt>
                <dd>v 1.0</dd>
                <dt>Product Name</dt>
                <dd>Task Schedular</dd>
                <dt>UI Framework</dt>
                <dd>Metro UI 4</dd>
                <dt>Backend -Framework</dt>
                <dd>Electron</dd>
                <dt>Developer</dt>
                <dd>Shashank Kawle</dd>
                <dt>Designer</dt>
                <dd>Shashank Kawle</dd>
                <dt>Author</dd>
                <dd>Shashank Kawle</dd>
            </dl>
        </div>
        <div class="remark primary">
            <b>This software is currently supported for Speedway BR-2 only.</b>
        </div>
    </div>
</div>