<!-- admin View -->
<div class="row" id="TaskPanel">
    <div class="col pt-1 pb-1" style="background: var(--bg2);">
        <ul class="nav flex-column">
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/projectView')">
                <div class="align-self-center nav-link"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">work_outline</span>PROJECT</div>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/userAssignmentView')">
                <div class="align-self-center nav-link"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">multiple_stop</span>USER ASSIGNMENT</div>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/taskView')">
                <div class="align-self-center nav-link"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">add_task</span>TASK</div>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/userView')">
                <div class="align-self-center nav-link"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">person_add</span>USER</div>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/assetView')">
                <div class="align-self-center nav-link"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">science</span>ASSETS</div>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/insightsView')">
                <div class="align-self-center nav-link"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">insights</span>INSIGHTS</div>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/roleView')">
                <div class="align-self-center nav-link"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">security</span>ROLE MANAGEMENT</div>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/roleAssignmentView')">
                <div class="align-self-center nav-link"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">admin_panel_settings</span>ROLE ASSIGNMENT</div>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/accountDeleteView')">
                <div class="align-self-center nav-link"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">delete_outline</span>DELETE ACCOUNT</div>
            </li>
        </ul>
    </div>

    <div class="col-sm-10" id="adminView"></div>
</div>