<!-- admin View -->
<div class="row admin-panel" id="TaskPanel">
    <div class="col-sm-2 admin-nav-bar gen-v-navbar">
        <ul class="nav flex-column">
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/projectView')">

                <div class="align-self-center">Project</div>

            </li>
            <li class="nav-item gen-list-element"
                onclick="loadUIElement('adminView' , 'views/adminPages/userAssignmentView')">

                <div class="align-self-center">User Assignment</div>

            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/taskView')">

                <div class="align-self-center">Task</div>

            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/userView')">

                <div class="align-self-center">User</div>

            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/assetView')">

                <div class="align-self-center">Assets</div>

            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/insightsView')">

                <div class="align-self-center">Insights</div>

            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/accountDeleteView')">

                <div class="align-self-center">Delete Account</div>

            </li>

        </ul>
    </div>


    <div class="col-sm-9" id="adminView">
    </div>
</div>