<!-- admin View -->
<div class="row admin-panel" id="TaskPanel">
    <div class="col-sm-2 admin-nav-bar gen-v-navbar" >
        <ul class="nav flex-column">
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/projectView')">
                <a class="nav-link">
                    <div class="align-self-center"><span class="material-icons">snippet_folder</span> Project</div>
                </a>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/userAssignmentView')">
                <a class="nav-link">
                    <div class="align-self-center"><span class="material-icons">assignment_ind</span> User Assignment</div>
                </a>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/taskView')">
                <a class="nav-link">
                    <div class="align-self-center"><span class="material-icons">note_add</span> Task</div>
                </a>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/userView')">
                <a class="nav-link">
                    <div class="align-self-center"><span class="material-icons">person_add</span> User</div>
                </a>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/assetView')">
                <a class="nav-link">
                    <div class="align-self-center"><span class="material-icons">assessment</span> Assets</div>
                </a>
            </li>
            <li class="nav-item gen-list-element" onclick="loadUIElement('adminView' , 'views/adminPages/insightsView')">
                <a class="nav-link">
                    <div class="align-self-center"><span class="material-icons">insights</span> Insights</div>
                </a>
            </li>
            <li class="nav-item" onclick="loadUIElement('adminView' , 'views/adminPages/accountDeleteView')">
                <a class="nav-link">
                    <div class="align-self-center"><span class="material-icons">remove_circle</span> Delete Account</div>
                </a>
            </li>

        </ul>
    </div>


    <div class="col-sm-9" id="adminView">
    </div>
</div>