<!-- Logs View -->
<div class="row" id="LogsPanel" style="margin-top: 20px; left: 20px;padding-right:40px; ">
    <h4 class="cell-12">Logs</h4>
    <div class="cell-12">
        <span class=" text-leader2">Your activities fetched from task list are below</span>
    </div>
    <div class="cell 12">
        <table class="table table-border cell-border compact">
            <thead>
                <tr>
                    <th>Sr.</th>
                    <th>Module</th>
                    <th>Date</th>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Issues or Bugs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>PricePlan</td>
                    <td>10/10/2018</td>
                    <td>ES Development</td>
                    <td>Modified Priceplan.updatePricePlan() in Priceplan Workflow</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>PricePlan</td>
                    <td>10/10/2018</td>
                    <td>ES Development</td>
                    <td>Modified Priceplan.updatePricePlan() in Priceplan Workflow</td>
                    <td>Views not ready yet</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>PricePlan</td>
                    <td>10/10/2018</td>
                    <td>ES Development</td>
                    <td>Modified Priceplan.updatePricePlan() in Priceplan Workflow</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>