<div id="Login">
    <div class="login-flare"></div>
    <div class="card align-self-center login-card">
        <h5 class="card-header">Log in</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="logiInputEmail" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="loginInputPassword1" placeholder="Password">
                </div>
            </form>
            <button onClick="validateLogin()" class="btn btn-success">Log in</button><br>
            <small class="form-text text-muted">If you do not have account on system, please contact your Project-Manager or System Administrator</small>
        </div>
    </div>
</div>