<div id="OverviewPanel" style="display:flex; margin-top: 20px; left: 10px;padding-right : 40px; ">

    <div class="cell-10" id="overviewDisplay">

        <!-- TASK PANEL -->
        <div class="row" id="TaskList">
            <div class="cell-3" style="margin-left: 0px;">
                <ul class="v-menu">
                    <li class="menu-title">Completed Tasks</li>
                    <li>
                        <div class="row">
                            <a href="#" class="cell-10"><span class="mif-checkmark icon"></span>ES Development</a> <span
                                class="cell-2 d-flex flex-align-center mif-cancel icon"></span>
                        </div>
                        <div class="row">
                            <a href="#" class="cell-10"><span class="mif-checkmark icon"></span>ES Development</a> <span
                                class="cell-2 d-flex flex-align-center mif-cancel icon"></span>
                        </div>
                        <div class="row">
                            <a href="#" class="cell-10"><span class="mif-checkmark icon"></span>ES Development</a> <span
                                class="cell-2 d-flex flex-align-center mif-cancel icon"></span>
                        </div>
                        <div class="row">
                            <a href="#" class="cell-10"><span class="mif-checkmark icon"></span>ES Development</a> <span
                                class="cell-2 d-flex flex-align-center mif-cancel icon"></span>
                        </div>
                    </li>
                </ul>
            </div>


            <!-- Task View-->
            <div class="cell-8" style="padding-left: 20px;;height: 564px;overflow-y: auto;">
                <div class="row"><div class="cell-10"><h3 style="margin-top: 0px;">Up Next To Do</h3></div><div class="cell-2"><span class="mif-replay mif-lg fg-cyan" onclick="operationTrigger('home_getData')">Refresh</span></div></div>
                    <ul id="task-list" style="list-style-type:none;">
                        <li>
                            <div class="panel" id="task-panel" style="padding-left:5px;padding-right:5px;margin-top:5px;margin-bottom: 5px;">
                                <div class="row" style="border-bottom: 1px solid;">
                                    <div class="cell-6 d-flex flex-align-center" style="padding-left:10px;">
                                        <h4>Batch Job Restructure</h4>
                                    </div>
                                    <div class="cell-4 d-flex flex-align-center">
                                        <span class="tally" style="margin-left: 5px;margin-right: 5px;">Module</span>
                                        <span class="tally success" style="margin-left: 5px;margin-right: 5px;">Priority</span>
                                        <div class="order"
                                            style="border:1px solid;margin-left: 5px;margin-right: 5px;padding:5px 10px">
                                            1
                                        </div>
                                    </div>
                                    <div class="cell-2 d-flex flex-align-center text-center" style="border-left: 1px solid;">
                                        <h6>23-10-2019</h6>
                                    </div>
                                </div>
                                <div class="row" style="padding-left:10px; padding-right:10px">
                                    <strong>Description</strong>
                                    <p class="text-secondry">Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown
                                        printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                                <div class="row d-flex flex-align-center"
                                    style="padding-left:10px; padding-right:10px;margin-top: 10px;">
                                    <div class="cell-8">
                                        <strong>Mark As</strong>
                                        <button class="button primary">Done</button>
                                        <button class="button secondary">Cancel</button>
                                        <button class="button">Stand By</button>
                                    </div>
                                    <div class="cell-4">
                                        <strong>Owner :</strong>
                                        <span class="text-secondry">Abid Khan</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>

    </div>

    <div class="cell-2">
        
        <button class="image-button success outline" style="margin-bottom: 10px;"
            onclick="loadUIElement('overviewDisplay' , 'views/overviewPages/profileView')">
            <span class="mif-wrench icon"></span>
            <span class="caption">Profile</span>
        </button>
        <!-- <button class="image-button alert outline" style="margin-bottom: 10px;">
            <span class="mif-cogs icon"></span>
            <span class="caption">Account</span>
        </button> -->
    </div>



</div>