<!-- Logs View -->
<div class="screen-panel">
    <div class="col-sm-12">
        <!-- TASK SUMMARY -->
        <div class="row gen-card-row gen-screen-nav-space">
            <div id="all-tsk-summ-new" class="col-sm-2 card gen-card">
                <div class="row card-body p-0">
                    <div class="col-sm-3 ">
                        <span class="material-icons ">description</span>
                    </div>
                    <div class="col-sm-8">
                        <p class="gen-text-normal-secondry">New tasks</p>
                        <div class="tsb-summary-card">
                            <div class="gen-section align-self-center">
                                <h4 class="col-sm-12 tsb-summary-card-value">0</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="all-tsk-summ-cmpl" class="col-sm-2 card gen-card">
                <div class="row card-body p-0">
                    <div class="col-sm-3 ">
                        <span class="material-icons ">grading</span>
                    </div>
                    <div class="col-sm-8">
                        <p class="gen-text-normal-secondry">Completed tasks</p>
                        <div class="tsb-summary-card">
                            <div class="gen-section align-self-center">
                                <h4 class="col-sm-12 tsb-summary-card-value">0</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="all-tsk-summ-tot" class="col-sm-2 card gen-card">
                <div class="row card-body p-0">
                    <div class="col-sm-3 ">
                        <span class="material-icons ">list</span>
                    </div>
                    <div class="col-sm-8">
                        <p class="gen-text-normal-secondry">Total tasks</p>
                        <div class="tsb-summary-card">
                            <div class="gen-section align-self-center">
                                <h4 class="col-sm-12 tsb-summary-card-value">0</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="all-tsk-slf-cmpl" class="col-sm-2 card gen-card ml-auto">
                <div class="row card-body p-0">
                    <div class="col-sm-3 ">
                        <span class="material-icons ">fact_check</span>
                    </div>
                    <div class="col-sm-8">
                        <p class="gen-text-normal-secondry">Self Completes</p>
                        <div class="tsb-summary-card">
                            <div class="gen-section align-self-center">
                                <h4 class="col-sm-12 tsb-summary-card-value">0</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="all-tsk-slf-del" class="col-sm-2 card gen-card">
                <div class="row card-body p-0">
                    <div class="col-sm-3 ">
                        <span class="material-icons ">notification_important</span>
                    </div>
                    <div class="col-sm-8">
                        <p class="gen-text-normal-secondry">Self Deletes</p>
                        <div class="tsb-summary-card">
                            <div class="gen-section align-self-center">
                                <h4 class="col-sm-12 tsb-summary-card-value">0</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TASK TABLE -->
    <div class="col-sm-12 gen-card-row gen-screen-nav-space" id="summary-section">
        <div class="col-sm-12 card gen-card">
            <div class="card-header gen-card-header">
                <h5 class="card-title">Task Board</h5>
            </div>
            <div class="card-body p-0">
                <table id="task-board-table" class="table table-hover gen-text-normal-secondry" width="100%"></table>
            </div>
        </div>
    </div>

</div>