<div class="row gen-card-row tskv-summ-bar" id="tskv-assign-summary-section">

    <div id="all-tsk-summ-new" class="col-sm-2 card gen-card-strip gen-card-strip-left-end">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p class="gen-text-normal-secondry gen-card-strip-card-text">New</p>
                <div class="tsb-summary-card">
                    <div class="gen-section align-self-center">
                        <h4 class="col-sm-12 tsb-summary-card-value">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="all-tsk-summ-new" class="col-sm-2 card gen-card-strip">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p class="gen-text-normal-secondry gen-card-strip-card-text">In-Progress</p>
                <div class="tsb-summary-card">
                    <div class="gen-section align-self-center">
                        <h4 class="col-sm-12 tsb-summary-card-value">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="all-tsk-summ-new" class="col-sm-2 card gen-card-strip">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p class="gen-text-normal-secondry gen-card-strip-card-text">Pending Commit</p>
                <div class="tsb-summary-card">
                    <div class="gen-section align-self-center">
                        <h4 class="col-sm-12 tsb-summary-card-value">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="all-tsk-summ-new" class="col-sm-2 card gen-card-strip">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p class="gen-text-normal-secondry gen-card-strip-card-text">Pending Delete</p>
                <div class="tsb-summary-card">
                    <div class="gen-section align-self-center">
                        <h4 class="col-sm-12 tsb-summary-card-value">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="all-tsk-summ-new" class="col-sm-2 card gen-card-strip">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p class="gen-text-normal-secondry gen-card-strip-card-text">Completed</p>
                <div class="tsb-summary-card">
                    <div class="gen-section align-self-center">
                        <h4 class="col-sm-12 tsb-summary-card-value">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="all-tsk-summ-new" class="col-sm-2 card gen-card-strip gen-card-strip-right-end">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p class="gen-text-normal-secondry gen-card-strip-card-text">Deleted</p>
                <div class="tsb-summary-card">
                    <div class="gen-section align-self-center">
                        <h4 class="col-sm-12 tsb-summary-card-value">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row gen-card-row">
    <div class="col-sm-3 card gen-card">
        <div class="card-header gen-card-header">
            <h5 class="card-title">Resource utilization</h5>
        </div>
        <div class="card-body p-0">
            <table id="tskv-resource-utilization-table" class="table table-hover gen-text-normal-secondry" width="100%">
            </table>
        </div>
    </div>
    <div class="col-sm-8 card gen-card">
        <div class="card-header gen-card-header">
            <h5 class="card-title">Assigned tasks</h5>
        </div>
        <div class="card-body p-0">
            <table id="tskv-assign-task-table" class="table table-hover gen-text-normal-secondry" width="100%"></table>
        </div>
    </div>
</div>