<div class="row" style="background: var(--bg2);"" id="tskv-assign-summary-section">

    <div id="all-tsk-summ-new" class="col-sm-2 p-3">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p>New</p>
                <div class="align-self-center">
                    <h4>0</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="all-tsk-summ-new" class="col-sm-2 p-3">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p>In-Progress</p>
                <div class="align-self-center">
                    <h4>0</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="all-tsk-summ-new" class="col-sm-2 p-3">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p>Pending-Commit</p>
                <div class="align-self-center">
                    <h4>0</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="all-tsk-summ-new" class="col-sm-2 p-3">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p>Pending-Delete</p>
                <div class="align-self-center">
                    <h4>0</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="all-tsk-summ-new" class="col-sm-2 p-3">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p>Completed</p>
                <div class="align-self-center">
                    <h4>0</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="all-tsk-summ-new" class="col-sm-2 p-3">
        <div class="row card-body p-0">
            <div class="col-sm-11 text-center">
                <p>Deleted</p>
                <div class="align-self-center">
                    <h4>0</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col box-sh m-1" style="height: fit-content;background: var(--bg2)">
        <nav class="navbar navbar-expand-lg border-bottom">
            <a class="navbar-brand font-weight-bold" style="color: var(--text)">Resource utiliazation</a>
        </nav>
        <table id="tskv-resource-utilization-table" class="table table-hover gen-text-normal-secondry" width="100%"></table>
    </div>
    <div class="col-sm-8 box-sh m-1" style="height: fit-content;background: var(--bg2)">
        <nav class="navbar navbar-expand-lg border-bottom">
            <a class="navbar-brand font-weight-bold" style="color: var(--text)">All Assignments</a>
        </nav>
        <table id="tskv-assign-task-table" class="table table-hover gen-text-normal-secondry" width="100%"></table>
    </div>
</div>