<div class="row gen-card-row">

    <div class="col-sm-5 card gen-card" style="height: fit-content;">
        <div class="card-header gen-card-header">
            <h5 class="card-title">Pending Self Commits for Approval</h5>
        </div>
        <div class="card-body p-0">
            <table id="tskv-selfcommits-table" class="table table-hover gen-text-normal-secondry" width="100%"></table>
        </div>
    </div>

    <div class="col-sm-5 card gen-card" style="height: fit-content;">
        <div class="card-header gen-card-header">
            <h5 class="card-title">Pending Self Deletes for Approval</h5>
        </div>
        <div class="card-body p-0">
            <table id="tskv-selfdeletes-table" class="table table-hover gen-text-normal-secondry" width="100%"></table>
        </div>
    </div>
</div>