<div>
    <h4>Create Asset</h4>
    <div data-role="panel">
        <ul data-role="tabs" data-expand="true">
            <li><a href="#target_module">Module</a></li>
            <li><a href="#target_type">Type</a></li>
            <li><a href="#target_priority">Priority</a></li>
        </ul>

        <div class="border bd-default no-border-top p-2">

            <div class="remark secondary">
                ERROR : Asset already exist in system.
            </div>

            <div id="target_module">
                <div class="form-group">
                    <label>Module Name</label>
                    <input type="text" data-role="input">
                </div>

                <div class="form-group">
                    <button class="button success">Create</button>
                    <input type="button" class="button" value="Cancel">
                </div>
            </div>

            <div id="target_type">
                <div class="form-group">
                    <label>New Type</label>
                    <input type="text" data-role="input">
                </div>

                <div class="form-group">
                    <button class="button success">Create</button>
                    <input type="button" class="button" value="Cancel">
                </div>
            </div>

            <div id="target_priority">
                <div class="form-group">
                    <label>New Priority</label>
                    <input type="text" data-role="input">
                </div>

                <div class="form-group">
                    <button class="button success">Create</button>
                    <input type="button" class="button" value="Cancel">
                </div>
            </div>

        </div>

    </div>
</div>