<div class="row">
    <div class="col-sm-5 card gen-card">
        <div class="card-header gen-card-header">
            <h5 class="card-title">Create New Assets</h5>
        </div>
        <div class="card-body p-0">
    
            <div class="alert alert-danger" role="alert">
                Asset already present in system.
            </div>
    
            <div class="form-group">
                <label for="adm-Ast-Category">Project</label>
                <select class="form-control" id="adm-Ast-Project">
                    <option value="54">Proj1</option>
                    <option value="56">Proj2</option>
                    <option value="57">Proj3</option>
                </select>
            </div>
    
            <div class="form-group">
                <label for="adm-Ast-Category">Category</label>
                <select class="form-control" id="adm-Ast-Category">
                    <option value="Module">Module</option>
                    <option value="Type">Type</option>
                    <option value="Priority">Priority</option>
                </select>
            </div>
    
            <div class="form-group">
                <input class="form-control" type="text" id="adm-Ast-CatName" placeholder="Enter new category value">
            </div>
    
            <div class="form-group">
                <button class="btn btn-success" onclick="operationTrigger('admin_createAsset')">Create</button>
            </div>
    
        
        </div>
    </div>


    <div class="col-sm-2 card gen-card">
        <div class="card-header gen-card-header">
            <h5 class="card-title">Modules</h5>
        </div>
        <div class="card-body p-0">
        </div>
    </div>
    <div class="col-sm-2 card gen-card">
        <div class="card-header gen-card-header">
            <h5 class="card-title">Types</h5>
        </div>
        <div class="card-body p-0">
        </div>
    </div>
    <div class="col-sm-2 card gen-card">
        <div class="card-header gen-card-header">
            <h5 class="card-title">Priorities</h5>
        </div>
        <div class="card-body p-0">
        </div>
    </div>
    
</div>

