<div class="col-sm-9 card gen-card">
    <div class="card-header gen-card-header">
        <h5 class="card-title">Create New Task</h5>
    </div>
    <div class="card-body p-0">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label for="adm-Tsk-Project">Project</label>
                    <select class="form-control" id="adm-Tsk-Project">
                        <option value="ETM Task Manager">Proj1</option>
                        <option value="ETM Task Manager">Proj2</option>
                        <option value="ETM Task Manager">Proj3</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="adm-Tsk-Module">Module</label>
                    <select class="form-control" id="adm-Tsk-Module">
                        <option value="ETL">ETL</option>
                        <option value="Security">Security</option>
                        <option value="Backend-Development">Backend-Development</option>
                        <option value="UI Development">UI Development</option>
                        <option value="Data Operations">Data Operations</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="adm-Tsk-Title" placeholder="Title">
        </div>

        <div class="form-group">
            <textarea class="form-control" id="adm-Tsk-Desc" rows="3" placeholder="Description"></textarea>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <label for="adm-Tsk-ETA">ETA</label>
                    <input class="form-control" id="adm-Tsk-ETA" type="date">
                </div>

                <div class="col-sm-4">
                    <label for="adm-Tsk-Assigner">Assigned By</label>
                    <select class="form-control" id="adm-Tsk-Assigner">
                        <option value="Abid">Abid</option>
                        <option value="Ashish">Ashish</option>
                        <option value="Raghav">Raghav</option>
                    </select>
                </div>

                <div class="col-sm-4">
                    <label for="adm-Tsk-Owner">Assigned To</label>
                    <select class="form-control" id="adm-Tsk-Owner">
                        <option value="Shashank">Shashank</option>
                        <option value="Nitin">Nitin</option>
                        <option value="Rohit">Rohit</option>
                        <option value="Chinmay">Chinmay</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">

                <div class="col-sm-4">
                    <label for="adm-Tsk-Type">Type</label>
                    <select class="form-control" id="adm-Tsk-Type">
                        <option value="Feature">Feature</option>
                        <option value="Defect">Defect</option>
                        <option value="Bug">Bug</option>
                    </select>
                </div>

                <div class="col-sm-4">
                    <label for="adm-Tsk-Priority">Priority</label>
                    <select class="form-control" id="adm-Tsk-Priority">
                        <option value="Critical">Critical</option>
                        <option value="Major">Major</option>
                        <option value="Moderate">Moderate</option>
                        <option value="Minor">Minor</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success" onclick="operationTrigger('admin_createTask')">Submit data</button>
        </div>
    </div>
</div>