<div class="col-sm-9 card gen-card">
    <div class="card-header gen-card-header">
        <h5 class="card-title">Create New User</h5>
    </div>
    <div data-role="card-body p-0">

        <div class="form-group">
            <input class="form-control" type="text" id="adm-Usr-Name" placeholder="Name">
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label>DOB </label>
                    <input class="form-control" type="date" id="adm-Usr-DOB">
                </div>

                <div class="col-sm-6">
                    <label>Contact</label>
                    <input class="form-control" type="text" id="adm-Usr-Contact">
                </div>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control" type="email" data-role="input" id="adm-Usr-Email" placeholder="Email">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" id="adm-Usr-Password" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="adm-Usr-Project">Assign to</label>
            <select class="form-control" id="adm-Usr-Project">
                <option value="54">Proj1</option>
                <option value="56">Proj2</option>
                <option value="57">Proj3</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-success" onclick="operationTrigger('admin_createUser')">Create</button>
        </div>
    </div>
</div>