<div class="col-6 m-1 p-3 box-sh" style="background: var(--bg2)">
    <div class="card-body pt-4 pb-4 pl-1" style="color: var(--text)">
        <h5 class="card-title m-0 font-weight-bold">Create User</h5>
    </div>
    <div class="card-body p-0">

        <div class="form-group p-1">
            <input class="form-control" type="text" id="adm-Usr-Name" placeholder="Name">
            <div class="row">
                <div class="col p-0 mt-1 mr-1">
                    <input class="form-control" type="email" data-role="input" id="adm-Usr-Email" placeholder="Email">
                </div>
                <div class="col-6 p-0 mt-1 ml-1">
                    <input class="form-control" type="password" id="adm-Usr-Password" placeholder="Password">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col p-0 m-1">
                    <label>DOB </label>
                    <input class="form-control" type="date" id="adm-Usr-DOB">
                </div>

                <div class="col p-0 m-1">
                    <label>Contact</label>
                    <input class="form-control" type="text" id="adm-Usr-Contact">
                </div>
            </div>
        </div>

        <div class="form-group m-1">
            <label for="adm-Usr-Project">Assign to</label>
            <select class="form-control" id="adm-Usr-Project"></select>
        </div>

        <div class="form-group mt-2 mb-2 ml-1 mr-1">
            <button class="btn btn-success" onclick="operationTrigger('admin_createUser')">Create</button>
        </div>
    </div>
</div>