<div class="row">
    <div class="mx-auto col-sm-10 card gen-card">
        <div class="card-header gen-card-header">
            <h2 id="tskd-title" class="card-title">Task Title</h2>
            <p><small>id:<span id="tskd-taskid"></span></small></p>
        </div>
        <div class="card-body p-0">

            <div class="row">
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Date : </strong><span>Date-1 - Date-2</span></small>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Project : </strong><span id="tskd-project">Project name</span></small>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Module : </strong><span id="tskd-module">Module name</span></small></p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Type : </strong><span id="tskd-type">Type name</span></small></p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Priority : </strong><span id="tskd-priority">Priority name</span></small>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Status : </strong><span id="tskd-status">Task Status</span></small></p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Assigned By : </strong><span id="tskd-assigner">Assigner Name</span></small></p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Owned By : </strong><span id="tskd-owner">Task owner</span></small></p>
                </div>
            </div>

            <hr style="border-style: dashed;">
            <h5>Description:</h5>
            <small id="tskd-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.</small>
            <hr style="border-style: dashed;">
            <h5>Activity:</h5>
            <div>
                <ul id="tskd-activity-list" class="tskd-activity-list">
                </ul>
            </div>

        </div>
    </div>

    <div class="mx-auto col-sm-10 card gen-card">
        <div class="card-header gen-card-header">
            <h5 class="card-title">Modify Ticket</h5>
        </div>
        <div class="card-body p-0">
            <div id="accordion">
                <div class="card">

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <button class="nav-link active" id="nav-comment-tab" data-toggle="tab" data-target="#nav-comment" type="button" role="tab" aria-controls="nav-comment" aria-selected="true"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">comment</span>Comment</button>
                          <button class="nav-link" id="nav-attachment-tab" data-toggle="tab" data-target="#nav-attachment" type="button" role="tab" aria-controls="nav-attachment" aria-selected="false"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">attach_file</span>Attach</button>
                          <button class="nav-link" id="nav-edit-tab" data-toggle="tab" data-target="#nav-edit" type="button" role="tab" aria-controls="nav-edit" aria-selected="false"><span class="material-icons mr-2" style="font-size: 18px; vertical-align: bottom; font-weight: bold">edit</span>Edit</button>
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <textarea class="form-control" id="tskd-comment-input" rows="3"
                                        placeholder="Add new comment" style="white-space: pre-wrap; margin-top: 1.7%;"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success" onclick="operationTrigger_TaskDetails('tskd_AddCommentInTask')">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-attachment" role="tabpanel" aria-labelledby="nav-attachment-tab">
                            <div class="row">
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="tskd-file_upload-comment-input" rows="1"
                                    placeholder="Add new comment" style="white-space: pre-wrap; margin-top: 1.7%; margin-bottom: 1.7%; resize: none;"></textarea>
                                </div>
                                <div class="col-sm-6">
                                        <input type="file" id="tskd-file-input" style="text-decoration: none;margin-top: 2%;">
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <button class="btn btn-success" onclick="operationTrigger_TaskDetails('tskd_AddAttachmentInTask')">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-edit" role="tabpanel" aria-labelledby="nav-edit-tab">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-Project">Project</label>
                                        <select class="form-control" id="tskd-mod-project" onchange="operationTrigger_TaskDetails('tskd_getModuleTypePriorityListForTask')"></select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-Module">Module</label>
                                        <select class="form-control" id="tskd-mod-module" onchange="operationTrigger_TaskDetails('tskd_checkModuleUpdate')"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-ETA">ETA</label>
                                        <input class="form-control" id="tskd-mod-eta" type="date">
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-Owner">Assigned To</label>
                                        <select class="form-control" id="tskd-mod-owner" onchange="operationTrigger_TaskDetails('tskd_checkOwnerUpdate')"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-Type">Type</label>
                                        <select class="form-control" id="tskd-mod-type" onchange="operationTrigger_TaskDetails('tskd_checkTypeUpdate')"></select>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-Priority">Priority</label>
                                        <select class="form-control" id="tskd-mod-priority" onchange="operationTrigger_TaskDetails('tskd_checkPriorityUpdate')"></select>
                                    </div>

                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <button class="btn btn-success" onclick="operationTrigger_TaskDetails('tskd_UpdateTaskFields')">Update Task</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>