<div class="row">
    <div class="mx-auto col-sm-10 card gen-card">
        <div class="card-header gen-card-header">
            <h2 class="card-title">Task Title</h2>
        </div>
        <div class="card-body p-0">

            <div class="row">
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Date : </strong><span>Date-1 - Date-2</span></small>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Project : </strong><span>Project name</span></small>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Module : </strong><span>Module name</span></small></p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Type : </strong><span>Type name</span></small></p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Priority : </strong><span>Priority name</span></small>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Status : </strong><span>Task Status</span></small></p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Assigned By : </strong><span>Assigner Name</span></small></p>
                </div>
                <div class="col-sm-6">
                    <p class="gen-p-margin-bottom"><small><strong>Owned By : </strong><span>Task owner</span></small></p>
                </div>
            </div>

            <hr style="border-style: dashed;">
            <h5>Description:</h5>
            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.</small>
            <hr style="border-style: dashed;">
            <h5>Activity:</h5>
            <div>
                <ul class="tskd-activity-list">
                    <li class="tskd-task-card tskd-task-card-comment">
                        <div class="col-sm-12">
                            <small class="text-muted">Shashank Kawle</small
                                class="text-muted"><small>&nbsp|&nbsp</small><small
                                class="text-muted">10-20-2020</small>
                        </div>
                        <hr class="gen-hr">
                        <div class="col-sm-12">
                            <small>some coments</small>
                        </div>
                    </li>
                    <li class="tskd-task-card tskd-task-card-alert">
                        <div class="col-sm-12">
                            <small class="text-muted">Shashank Kawle</small
                                class="text-muted"><small>&nbsp|&nbsp</small><small
                                class="text-muted">10-20-2020</small>
                        </div>
                        <hr class="gen-hr">
                        <div class="col-sm-12">
                            <small>Workflow State Change :</small><br />
                            <div class="col-sm-12">
                                <small class="badge badge-success">New</small><i
                                    class="material-icons tskd-ico-position-fix">arrow_right_alt</i><small
                                    class="badge badge-success">In-Progress</small>
                            </div>
                        </div>
                    </li>
                    <li class="tskd-task-card tskd-task-card-update">
                        <div class="col-sm-12">
                            <small class="text-muted">Shashank Kawle</small
                                class="text-muted"><small>&nbsp|&nbsp</small><small
                                class="text-muted">10-20-2020</small>
                        </div>
                        <hr class="gen-hr">
                        <div class="col-sm-12">
                            <small><span class="badge badge-primary">Owner</span> Update :</small><br />
                            <div class="col-sm-12">
                                <small class="badge badge-light">Mandar Parab</small><i
                                    class="material-icons tskd-ico-position-fix">arrow_right_alt</i><small
                                    class="badge badge-light">Shashank Kawle</small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="mx-auto col-sm-10 card gen-card">
        <div class="card-header gen-card-header">
            <h5 class="card-title">Modify Ticket</h5>
        </div>
        <div class="card-body p-0">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Add New Comment
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-group">
                                <textarea class="form-control" id="tskd-comment-input" rows="3"
                                    placeholder="Add new comment"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success">Add</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Modify Ticket fields
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-Project">Project</label>
                                        <select class="form-control" id="adm-Tsk-Project"
                                            onchange="operationTrigger('admin_getModuleTypePriorityListForTask')"></select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-Module">Module</label>
                                        <select class="form-control" id="adm-Tsk-Module"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-ETA">ETA</label>
                                        <input class="form-control" id="adm-Tsk-ETA" type="date">
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-Owner">Assigned To</label>
                                        <select class="form-control" id="adm-Tsk-Owner"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-Type">Type</label>
                                        <select class="form-control" id="adm-Tsk-Type"></select>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="adm-Tsk-Priority">Priority</label>
                                        <select class="form-control" id="adm-Tsk-Priority"></select>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success">Update Task</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>